
{% extends 'base.html' %}
{% block title%}Detail{% endblock%}
    {% block content%}
    <div class="card card-detail mb-3" style="max-width: 600px; max-width:600px">
      <img src="{{photo.image.url}}" class="card-img-top" alt="img">
      <div class="card-body">
        <a href="{% url 'photo_update' photo.pk %}">Редактировать</a>
        <a href="{% url 'photo_delete' photo.pk %}">Удалить</a>
        <p class="card-text">{{photo.note}}</p>
        <p class="card-text"><small class="text-muted">Автор: {{photo.author.username}}</small></p>
        <p class="card-text"><small class="text-muted">Дата публикациии: {{photo.created_at| date:"d-m-Y" }}</small></p>
      </div>
    </div>
    {% endblock %}